@media (max-width: 1000px) {
  .br {
    display: block;
  }

  .photo {
    width: 100%;
  }

  header p {
    width: 100%;
    font-size: 20px;
  }

  .line_magazine {
    padding: 20px;
  }

  .line_magazine a {
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 50px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.6));
  }

  .heading {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .text {
    font-size: 12px;
  }
}
